/* .Navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: rgb(229, 16, 16);
    
}
li{
    list-style-type: none;
    /* background-color: red; */
    /* display: inline-block;
}
.outer{
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 300px;
    width: 300px;
    background-color:darkorchid;
} */ 
 /* div{
    height: 50px;
    width: 50px;
    background-color: pink;
 }
 @media (width : 600px) {
    div{
        background-color: brown;
    }
 }
 @media(min-width: 600px){
    div{
        background-color: bisque;
    }
 }
 @media(min-width: 200px) and (max-width: 300px){
    div{
        background-color: purple;
    }
 } */
/* div{
    height: 200px;
    width: 200px;
    background-color: chocolate;
}
@media(max-width : 300px){
    div{
        background-color: green;
    }
}
@media(min-width : 300px) and (max-width : 400px){
    div{
        background-color: pink;
    }
}
@media(min-width : 400px) and (max-width : 600px){
    div{
        background-color: red;
    }
}
@media(min-width : 600px){
    div{
        background-color: blue;
    }
}
 */

 div{
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    background-color: blueviolet;
    border:2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: colorAnimate;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: step(5);
    transition-delay: 2s; */
    transition: all 2s ease-in 1s ;
    /* transform:rotate(180deg); */
    /* transform: scale(0.5); */
    /* justify-content: center; */
    animation: colorAnimate 4s ease-in 1s infinite normal;
    
    
 }
 @keyframes colorAnimate {
    0% {
        left: 0px;
        background-color: yellow;
}
    50% {
        
        background-color: rgb(11, 0, 128);
        
}

    100% {
        left: 200px;
        background-color: red;
        color: white;
}
    
 }
 div:hover{
    background-color: brown;
    color: white;
    font-size: 20px;
    transform: scale(2);
    transform: translate(100px, 80px);
    transform: skew(90deg); 
    
 }
 div:active{
    background-color: pink;
 }