/* .Navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: rgb(229, 16, 16);
    
}
li{
    list-style-type: none;
    /* background-color: red; */
    /* display: inline-block;
}
.outer{
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 300px;
    width: 300px;
    background-color:darkorchid;
} */ 
 div{
    height: 50px;
    width: 50px;
    background-color: pink;
 }
 @media (width : 600px) {
    div{
        background-color: brown;
    }
 }
 @media(min-width: 600px){
    div{
        background-color: bisque;
    }
 }
 @media(min-width: 200px) and (max-width: 300px){
    div{
        background-color: purple;
    }
 }
    