/* h1{
    color : green;
}

p{
    color:yellow;
}

button{
    color: brown;
    background-color: rgb(74, 190, 232);
}
body{
    background-color: gray;
}

* {
    color:blue;
}

#headingOne{
    color:purple;
}
#headingTwo{
    color:blanchedalmond;
}
.myclass{
    color:magenta;
}
#box {
    background-color:greenyellow;
    color:purple;
}
.heading{
    color: red;
}
h1, h2, h3{
    color:blue;
}
button{
    background-color: goldenrod;
} */
 /* p {
    text-align: start;
 }
 h1 {
    text-align: center;
    text-decoration: red wavy underline;
 }

 a {
    text-decoration: none;
 }

 #h1{
    font-weight: normal;
 }
 #h2{
    font-weight: bold;
 }
 #h3{
    font-weight: 900;
 }
 #h4{
    font-weight: lighter;
 }
 #one{
    font-family: 'Courier New', Courier, monospace;

 }
 #two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #oneeee{
    font-size: 25px;
    line-height: 50px;
    text-transform: capitalize;
 }
 #threeee{
    font-size: 10px;
 } */

 /* div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 5px ;
    border-style: solid ;
    border-color: brown ;
    border: 5px solid brown;
    border-radius: 1px;
    padding: 25px;
    margin: 25px; 
 }
 h1{
    height: 50px;
    width: 200px;
    background-color: rgb(7, 201, 245);
    border-width: 5px ;
    border-style: dotted ;
    border-color: black ;
    text-align: center;
 }
 #oneone{
    height: 100px;
    width: 100px ;
    background-color: green;
    border-radius: 50%;
 }  */

 /* *{
   padding: 0px;
   margin: 0px;
   color: white;
 }
 #navbar{
   height:60px;
   background-color: #0f1111;
 }
 button{
   background-color: #f08804;
 }
 #logo{
   color: #f08804;
   font-size: 25px;
 }
a{
   margin-right: 250px;
   text-decoration: none;
} */

/* div{
   width: 100px;
   height: 100px;
   margin: 25px;
   padding: 25px;
   display: inline-block;
}
#one{
   background-color: rgba(0, 0, 255, 0.5);
   
}
#two{
   background-color: rgba(0, 0, 255, 0.75);
   
}
#three{
   background-color: rgba(0, 0, 255, 1);
} */
 *{
   padding: 0px;
   margin: 0px;
   color: white;
 }
 #navbar{
   height:60px;
   background-color: #0f1111;
 }
 button{
   background-color: #f08804;
 }

 #logo{
   color: #f08804;
   font-size: 25px;
 }

a{
   margin-right: 250px;
   text-decoration: none;
} 
.contentbox{
   height: 150px;
   width: 150px;
   border: 2px solid black;
   display: inline-block;
   color: black;
   text-align: center;
}
#content{
   height: 800px;
   
}
footer{
   background-color: #0f1111;
   color: white;
   text-align: center;

}
