h1{
    color : green;
}

p{
    color:yellow;
}

button{
    color: brown;
    background-color: rgb(74, 190, 232);
}
body{
    background-color: gray;
}

* {
    color:blue;
}

#headingOne{
    color:purple;
}
#headingTwo{
    color:blanchedalmond;
}
.myclass{
    color:magenta;
}
