/* h1{
    color : green;
}

p{
    color:yellow;
}

button{
    color: brown;
    background-color: rgb(74, 190, 232);
}
body{
    background-color: gray;
}

* {
    color:blue;
}

#headingOne{
    color:purple;
}
#headingTwo{
    color:blanchedalmond;
}
.myclass{
    color:magenta;
}
#box {
    background-color:greenyellow;
    color:purple;
}
.heading{
    color: red;
}
h1, h2, h3{
    color:blue;
}
button{
    background-color: goldenrod;
} */
 p {
    text-align: start;
 }
 h1 {
    text-align: center;
    text-decoration: red dotted underline;
 }

 a {
    text-decoration: none;
 }

 #h1{
    font-weight: normal;
 }
 #h2{
    font-weight: bold;
 }
 #h3{
    font-weight: 900;
 }
 #h4{
    font-weight: lighter;
 }
 #one{
    font-family: 'Courier New', Courier, monospace;

 }
 #two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }